# ASSIGNMENT_2

Q1.What are the two values of the Boolean data type? How do you write them?

There are two values of Boolean:
1.True
2.False

In [2]:
a=True
b=False
a,b

(True, False)

Q2.What are the three different types of Boolean operators?

AND, OR and NOT

Q3.Make a list of each Boolean operator truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

In [6]:
True and True is True
False and True is False
True and False is False
False and False is False
True or True is True
False or True is True
True or False is True
False or False is False
not True is False
not False is True

True

In [ ]:
Truth Table for AND
A B output
0 0 0
0 1 0
1 0 0
1 1 1

Truth Table for OR
A B output
0 0 0
0 1 1
1 0 1
1 1 1

Truth Table for NOT
A output
0 1
1 0

Q4.What are the values of the following expressions?

(5>4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 >4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [8]:
(5> 4) and (3 == 5)

False

In [9]:
not (5 > 4)

False

In [10]:
(5 > 4) or (3 == 5)

True

In [11]:
not ((5 >4) or (3 == 5))

False

In [12]:
(True and True) and (True == False)

False

In [13]:
(not False) or (not True)

True

In [14]:
Q5.What are the six comparison operators?

Object `operators` not found.

Q5.What are the six comparison operators

>, <, ==, <=, >= and !=

Q6.How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

In [17]:
if (1==2):
    print(True)
else:
    print(False)
a=1
print(a)

False
1

7.	Identify the three blocks in this code:
spam = 0
if spam == 10:
print(‘eggs’)
if spam >5:
print(‘bacon’)
else:
print(‘ham’)
print(‘spam’)
print(‘spam’)

In [19]:
spam = 0
if spam == 10:
    print('eggs')
    if spam >5:
        print('bacon')
    else:
        print('ham')
    print('spam')
print('spam')

spam

Q8.Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [20]:
spam=int(input("Input a no."))
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greetings!")

Input a no.2
Howdy

Q9.If your programme is stuck in an endless loop, what keys you’ll press?

press ctrl+c.

Q10.How can you tell the difference between break and continue?

In [23]:
for i in range(0,10):
    if i==8:
        break
    if i==4:
        continue
    print(i)

0
1
2
3
5
6
7

Q11.In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

They all perform same operation but the method to write the command is different, range(10) will select the values starting from 0 to 9. range(0,10) here we specify the starting number will be 0 and iterate till 9. range(0,10,1) here 1 will perform the  skipping operation as the value is one it will iterate from 0 to 9.

In [25]:
for i in range(10):
    print(i)
print("---------")
for i in range(0,10):
    print(i)
print("---------")
for i in range(0,10,1):
    print(i)
print("---------")

0
1
2
3
4
5
6
7
8
9
---------
0
1
2
3
4
5
6
7
8
9
---------
0
1
2
3
4
5
6
7
8
9
---------

Q12.Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [27]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
n=11
i=1
while i<n:
    print(i)
    i+=1
    if i==11:
        break

1
2
3
4
5
6
7
8
9
10